body {
  background-color: rgb(34, 36, 37);;
  color: rgb(255, 251, 251);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body * {
  font-family: Arial;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
a,
a:hover,
a:visited {
  color: rgb(33, 196, 218);
  text-decoration: none;
}
nav{
  display: flex;

}
nav h1{
  margin: 0 5px;

}
