{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>weblog</title>
        <link rel="stylesheet" href="{% static 'styles.css'%}"></head>


    <body>
        <nav>
            <h1><a href="{% url 'articles_app:Home' %}">Home</a></h1>


        </nav>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <button><a href="{% url 'accounts:logout' %}">logout</a></button>

                

                <a href="{% url 'articles_app:create'%}">Create New Article</a>
                {% else %}
                <li>
                    <a href="{% url 'accounts:login'%}">Login</a>
                </li>
                <li>
                    <a href="{% url 'accounts:signup'%}">Signup</a>
                </li>

                {% endif %}

            </ul>
        </nav>

        {%block content%}
        {%endblock%}
    </body>

</html>